.App {
  text-align: center;
}

.App-header {
  background-color: #EE3A43;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Gayathri', sans-serif;
}

.App-main {
  padding: 8%;
}

#landingButton {
  max-width: 500px;
  min-width: 200px;
  width: 30%;
  max-height: 200px;
  min-height: 100px;
  height: 200px;
  border-radius: 10% 30%;
  background-color: #EE3A43;
  color: white;
  font-size: 1.3em;
}

#OrderMenu {
  background-color: #EE3A43;
  color: white;
  padding: 5%;
  border-radius: 5%;
}

#OrderMenu h2 {
  margin-bottom: 40px;
}

.menuGroup {
  display: flex;
  justify-content: space-around;
}

.menuGroup input {
  margin-right: 10px;
}

#submitOrderButton {
  margin: 30px 0 10px 0;
  width: 100px;
  height: 40px;
  border-radius: 5%;
}

#CompleteOrder {
  background-color: #EE3A43;
  color: white;
  padding: 5%;
  max-width: 500px;
  min-width: 325px;
  margin: auto;
  border-radius: 5%;
}

#orderAnotherPizzaButton {
  margin: 30px 0 10px 0;
  width: 150px;
  height: 40px;
  border-radius: 5%;
}

#CompleteOrder ul {
  width: 100px;
  margin: auto;
}
